@import "tailwindcss";

html,
body {
  overscroll-behavior: none;
}

body {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    sans-serif;
}

@media (max-width: 767px) {
  input,
  select,
  textarea {
    font-size: 16px;
  }

  input:focus,
  select:focus,
  textarea:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.code-input {
  font-family: "Courier New", Courier, monospace;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid currentColor;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Remove arrows in Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
