@import "tailwindcss";

html,
body {
  overscroll-behavior: none;
}

body {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    sans-serif;
}

.code-input {
  font-family: "Courier New", Courier, monospace;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid currentColor;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
